.app {
  padding: 24px;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, 150px);
  color: #444;
  margin: -8px;
  margin-top: 16px;
}

.budget {
  margin-bottom: 8px;
  font-size: 16px;
}

.row {
  padding-right: 20px;
  padding-bottom: 8px;
}

.label {
  display: inline-block;
  float: left;
  clear: left;
  padding-right: 10px;
}

.value input {
  width: 40px;
  height: 20px;
  border: 2px solid grey;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

.value output {
  width: 40px;
  height: 20px;
  border: 2px solid grey;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  background-color: white;
}

.image {
  border: 8px solid rgba(255, 0, 0, 0);
  opacity: 0.65;
}

.keyframe {
  border-color: rgba(255, 0, 0, 1);
  opacity: 1;
  transition: transform 0.2s;
}

.keyframe:hover {
  transform: scale(2);
  z-index: 100;
  box-shadow: 0 8px 6px -6px black;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.spinner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white;
  padding: 10px;
  margin-right: 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid grey;
}

.button:hover {
  background-color: #ddd;
}
